@model ExpenseTracker.Models.Outcome

@{
    ViewData["Title"] = "NewOutcome";
}

<h1 class="text-center">New Outcome</h1>

<h4 class="text-center">Outcome</h4>
<hr />
<div class="row">
    <div class="col-lg-12 d-flex justify-content-center text-center">
        <form asp-action="NewOutcome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OutcomeAmount" class="control-label"></label>
                <input asp-for="OutcomeAmount" class="form-control" />
                <span asp-validation-for="OutcomeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <input asp-for="User.Name" class="form-control" type="hidden" value="shh" />
            <div class="form-group pt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">
    <a href="/Outcome/GetOutcomes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
