@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(ViewBag.Balance != null)
    {
    <h3>Current balance: @ViewBag.Balance EUR</h3> 
    }
    else
    {
    <p>You are not logged in. Please log in or register for new users.</p>
    }
</div>
