@using Microsoft.AspNetCore.Identity
@using ExpenseTracker.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav" id="accstyle">
@if (SignInManager.IsSignedIn(User))
{

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">User</a>
            <ul class="dropdown-menu" id="dropdownCustom">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" asp-controller="Income" asp-action="Index">Incomes</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" asp-controller="Expense" asp-action="Index">Expenses</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
        </ul>
    </li>
   
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
