@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#accstyle{
   padding-right:100px;
}


body {
    margin-bottom: 60px;
    background-color: #0d1117;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.dashboard-card {
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .dashboard-card:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 15px rgba(0, 255, 255, 0.5);
    }

    .dashboard-card h5 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #aaa;
    }

    .dashboard-card h2 {
        font-size: 28px;
        font-weight: bold;
        color: #fff;
    }

.dashboard-button {
    text-decoration: none;
}

.table {
    color: white;
}

.p li{
    background-color: #0d1117;
    color: white;
}

#customNav {
    background-color: #0d1117 !important;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

#customNav a {
    color:white !important;
}
    #customNav a:hover {
        transform: scale(1.1);
    }

.valid {
    background-color: #0d1117 !important;
}

.form-control {
    color: white !important;
}
    .form-control:-webkit-autofill {
        background-color: #0d1117 !important;
        color: white !important;
    }


.pagination {
    border-color: rgba(0, 255, 255, 0.3) !important;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
}
.page-item a {
     background-color: #0d1117 !important;
     color:white;
}

.page-item.active .page-link {
    border-color: white !important;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
}

.page-item.disabled .page-link {
    border-color: white !important;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);

}
.page-item a:hover {
    color: white !important;
    border-color: rgba(0, 255, 255, 0.3) !important;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
}

#dropdownCustom {
    background-color: #0d1117 !important;
    border-color: white !important;
    z-index:1050 !important;
    
}

    #dropdownCustom li a:hover {
        background-color: #0d1117 !important;
        transform:none;
    }

.zoom-in {
    transition: transform 0.3s ease-in-out !important;
}

.zoom-in:hover{
    transform:scale(1.2) !important;
}

#registerSubmit:hover {
    background-color: #0d1117 !important;
}

#registerSubmit {
    background-color: rgba(0, 255, 255, 0.3) !important;
    border-color: rgba(0, 255, 255, 0.3) !important;
    box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
}

.dropdown-menu.show {
    z-index:99999 !important;
    display: block;
}

.table td a {
    border: 1px solid white;
    padding: 5px;
    margin: 2px;
    color: white;
    text-decoration: none;
    display: inline-block; 
    transition: transform 0.15s ease-in-out;
}

.table td a:hover{
    transform: scale(1.1);
}

.a-button {
    border: 1px solid white !important;
    padding: 5px !important;
    margin: 2px !important;
    color: white !important;
    text-decoration: none !important;
    width: 120px;
    text-align: center !important;
    background-color: #0d1117;
}

    .a-button:hover {
        background-color: rgba(0, 255, 255, 0.3) !important;
        box-shadow: 0px 4px 10px rgba(0, 255, 255, 0.3);
    }

.form-control:disabled {
    background-color: #0d1117 !important;
}

.footer {
    text-align: center;
}

.filter-grid select option:hover {
    background-color: #0d1117 !important;
}

.custom-button {
    background-color: #0d1117 !important;
    border-color: rgba(0, 255, 255, 0.3) !important;
    transition: transform 0.3s ease-in-out;
}

    .custom-button:hover {
        box-shadow: 0px 1px 3px rgba(0, 255, 255, 0.3);
    }